interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://seattle.bibliocommons.com/user/login?destination=x
  response:
    body:
      string: "<!-- APPLICATION LAYOUT -->\n\n\n\n\n\n<!DOCTYPE html>\n<html xmlns:og=\"http://ogp.me/ns#\"
        lang=\"en-US\">\n<head>\n  <!-- Data Layer -->\n<script>\n  window.dataLayer
        = window.dataLayer || [{\"bc.siteId\":\"WA-SEATTLE\",\"bc.language\":\"en-US\",\"bc.libraryId\":30,\"bc.localBranch\":null,\"bc.shortName\":\"SPL\",\"bc.longName\":\"The
        Seattle Public Library\",\"bc.domain\":\"seattle\",\"bc.externalGaId\":\"UA-20103826-1\",\"bc.externalCoreGAId\":\"UA-20103826-1\",\"bc.gaCrossDomainNames\":[],\"bc.gaCrossDomainEnabled\":false,\"bc.ga4MeasurementId\":\"G-QLGZKJXH1V\",\"bc.cmsEnabled\":false,\"bc.cmsUrl\":\"http://bibliocms.com/\",\"bc.crazyEggId\":\"00178067\",\"bc.allowGoogleAdFeatures\":false,\"bc.externalEventsGAId\":null,\"bc.product\":\"core\",\"bc.version\":\"Version
        9.35.1 Last updated 03/27/2026 18:42:57 [core-liv-app38.bcommons.net]\"}];\n</script>\n<!--
        end Data Layer -->\n<!-- Start Google Tag Manager-->\n<script>(function(w,d,s,l,i)\n{\n
        \ w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});\n
        \ \n  var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n
        \ \n  j.async=true;\n  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+'';\n
        \ f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer',
        'GTM-TDPBXX');</script> \n<!-- End Google Tag Manager -->\n\n\n\n\n<script
        type=\"application/ld+json\">\n  {\n    \"@context\": \"http://schema.org\",\n
        \   \"@type\": \"Library\",\n    \"url\": \"https://seattle.bibliocommons.com/\",\n
        \   \"name\": \"The Seattle Public Library\",\n    \"logo\": \"https://cor-liv-cdn-static.bibliocommons.com/images/WA-SEATTLE/logo.png?1779884223615\",\n
        \   \"image\": \"https://cor-liv-cdn-static.bibliocommons.com/images/WA-SEATTLE/logo.png?1779884223615\"\n
        \ }\n</script>\n\n<script type=\"text/javascript\" charset=\"utf-8\">\n  var
        registered_messages = [];\n  var controller_js = '//cor-cdn-static.bibliocommons.com/assets/controllers/session-a036d1c34a8bc6fe0da9699b605da532.js';\n</script>\n\n<script
        type=\"text/javascript\">\n  document.write(\"<style type=\\\"text/css\\\">.hide_on_script{display:none;}</style>\");\n
        \   var event_query = \"\"\n</script>\n\n\n\n<title data-analytics=\"session\">Log
        In | The Seattle Public Library | BiblioCommons</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\">\n<meta name=\"App-Version\" content=\"Version
        9.35.1 Last updated 03/27/2026 18:42:57 [core-liv-app38.bcommons.net]\">\n<meta
        name=\"format-detection\" content=\"telephone=no\">\n\n  <meta name=\"google-site-verification\"
        content=\"XP15EF9-Mx4nKTFwmhzJkL6q7mc-CuNVTmbkg8MnZRU\" />\n\n<meta content=\"authenticity_token\"
        name=\"csrf-param\" />\n<meta content=\"8UrYGSMsexQGHQDY7tuE+SM2zMvRuy3h[...]
- request:
    body: authenticity_token=8UrYGSMsexQGHQDY7tuE%2BSM2zMvRuy3h50EF1REj9hY%3D&name=1000000000000&user_pin=0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://seattle.bibliocommons.com/user/login
  response:
    body:
      string: <html><body>You are being <a href="https://seattle.bibliocommons.com/user_dashboard">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html;charset=utf-8
      location:
      - https://seattle.bibliocommons.com/user_dashboard
      stats_bibliocommons:
      - WS_MEM_ALL,9,5,1;RAILS,340;http-nio-8080-exec-9
      x-version:
      - app38 Version 9.35.1 Last updated 03/27/2026 18:42:57
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://seattle.bibliocommons.com/user_dashboard
  response:
    body:
      string: "<!-- APPLICATION LAYOUT -->\n\n\n\n\n\n<!DOCTYPE html>\n<html xmlns:og=\"http://ogp.me/ns#\"
        lang=\"en-US\">\n<head>\n  <!-- Data Layer -->\n<script>\n  window.dataLayer
        = window.dataLayer || [{\"bc.siteId\":\"WA-SEATTLE\",\"bc.language\":\"en-US\",\"bc.libraryId\":30,\"bc.localBranch\":null,\"bc.shortName\":\"SPL\",\"bc.longName\":\"The
        Seattle Public Library\",\"bc.domain\":\"seattle\",\"bc.externalGaId\":\"UA-20103826-1\",\"bc.externalCoreGAId\":\"UA-20103826-1\",\"bc.gaCrossDomainNames\":[],\"bc.gaCrossDomainEnabled\":false,\"bc.ga4MeasurementId\":\"G-QLGZKJXH1V\",\"bc.cmsEnabled\":false,\"bc.cmsUrl\":\"http://bibliocms.com/\",\"bc.crazyEggId\":\"00178067\",\"bc.allowGoogleAdFeatures\":false,\"bc.externalEventsGAId\":null,\"bc.encodedUserId\":\"yB4D/WgLpTns2I4I4JaaRw==\",\"bc.product\":\"core\",\"bc.version\":\"Version
        9.35.1 Last updated 03/27/2026 18:42:57 [core-liv-app38.bcommons.net]\"}];\n</script>\n<!--
        end Data Layer -->\n<!-- Start Google Tag Manager-->\n<script>(function(w,d,s,l,i)\n{\n
        \ w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});\n
        \ \n  var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n
        \ \n  j.async=true;\n  j.s[...]
- request:
    body: ''
    headers:
      X-Access-Token:
      - REDACTED
      X-Session-Id:
      - REDACTED
    method: GET
    uri: https://gateway.bibliocommons.com/v2/libraries/seattle/branches
  response:
    body:
      string: '{"branches":{"items":["BAL","LOCK7","BEA","LOCK4","BRO","LOCK5","CAP","CEN","COL","DLR","DTH","FRE","GLK","GWD","HIP","LOCK1","IDC","LCY","MGM","MAG","MOB","MON","LOCK6","NHY","NET","LOCK3","NGA","QNA","RBE","LOCK2","SPA","SWT","WAL","WTS"]},"entities":{"branches":{"BAL":{"code":"BAL","name":"Ballard
        Branch","ips":["66.212.64.66","66.212.73.65-127","66.212.67.218","66.212.64.34"]},"LOCK7":{"code":"LOCK7","name":"Ballard
        Branch: SPL Lockers","ips":[]},"BEA":{"code":"BEA","name":"Beacon Hill Branch","ips":["66.212.73.129-190","66.212.64.35","66.212.64.67"]},"LOCK4":{"code":"LOCK4","name":"Beacon
        Hill Branch: SPL Lockers","ips":[]},"BRO":{"code":"BRO","name":"Broadview
        Branch","ips":["66.212.72.65-127","66.212.64.36","66.212.64.68"]},"LOCK5":{"code":"LOCK5","name":"Broadview
        Branch: SPL Lockers","ips":[]},"CAP":{"code":"CAP","name":"Capitol Hill Branch","ips":["66.212.70.193-254","66.212.64.37","66.212.64.69"]},"CEN":{"code":"CEN","name":"Central
        Library","ips":["66.212.79.0-255","66.212.77.0-255","66.212.76.0-255","66.212.78.0-255"]},"COL":{"code":"COL","name":"Columbia
        Branch","ips":["66.212.72.129-191","66.212.64.70","66.212.64.38"]},"DLR":{"code":"DLR","name":"Delridge
        Branch","ips":["66.212.64.71","66.212.68.225-254","66.212.64.39"]},"DTH":{"code":"DTH","name":"Douglass-Truth
        Branch","ips":["66.212.64.40","66.212.64.72","66.212.70.65-127"]},"FRE":{"code":"FRE","name":"Fremont
        Branch","ips":["66.212.64.41","66.212.68.161-191","66.212.64.73"]},"GLK":{"code":"GLK","name":"Green
        Lake Branch","ips":["66.212.64.42","66.212.73.1-63","66.212.64.74"]},"GWD":{"code":"GWD","name":"Greenwood
        Branch","ips":["66.212.64.43","66.212.64.75","66.212.72.1-63"]},"HIP":{"code":"HIP","name":"High
        Point Branch","ips":["66.212.64.44","66.212.64.76","66.212.68.33-63"]},"LOCK1":{"code":"LOCK1","name":"High
        Point Branch: SPL Lockers","ips":[]},"IDC":{"code":"IDC","name":"International
        District/Chinatown Branch","ips":["66.212.64.77","66.212.69.97-127","66.212.64.45"]},"LCY":{"code":"LCY","name":"Lake
        City Branch","ips":["66.212.71.129-191","66.212.64.46","66.212.64.78"]},"MGM":{"code":"MGM","name":"Madrona-Sally
        Goldmark Branch","ips":["66.212.69.1-31","66.212.64.178","66.212.64.47","66.212.64.79","66.212.64.153"]},"MAG":{"code":"MAG","name":"Magnolia
        Branch","ips":["66.212.64.80","66.212.71.1-62","66.212.64.48"]},"MOB":{"code":"MOB","name":"Mobile
        Services","ips":[]},"MON":{"code":"MON","name":"Montlake Branch","ips":["66.212.64.81","66.212.64.49","66.212.69.65-94"]},"LOCK6":{"code":"LOCK6","name":"Montlake
        Branch: SPL Lockers","ips":[]},"NHY":{"code":"NHY","name":"NewHolly Branch","ips":["66.212.68.65-95","66.212.64.50","66.212.64.82"]},"NET":{"code":"NET","name":"Northeast
        Branch","ips":["66.212.64.51","66.212.64.83","66.212.72.193-254"]},"LOCK3":{"code":"LOCK3","name":"Northeast
        Branch: SPL Lockers","ips":[]},"NGA":{"code":"NGA","name":"Northgate Branch","ips":["66.212.64.52","66.212.64.84","66.212.71.65-127"]},"QNA":{"code":"QNA","name":"Queen
        Anne Branch","ips":["66.212.64.53","66.212.64.85","66.212.68.1-31"]},"RBE":{"code":"RBE","name":"Rainier
        Beach Branch","ips":["66.212.64.54","66.212.64.86","66.212.74.1-63"]},"LOCK2":{"code":"LOCK2","name":"Rainier
        Beach Branch: SPL Lockers","ips":[]},"SPA":{"code":"SPA","name":"South Park
        Branch","ips":["66.212.64.55","66.212.64.87","66.212.68.129-159"]},"SWT":{"code":"SWT","name":"Southwest
        Branch","ips":["66.212.64.88","66.212.73.193-254","66.212.64.56"]},"WAL":{"code":"WAL","name":"Wallingford
        Branch","ips":["66.212.69.33-63","66.212.64.90","66.212.64.58"]},"WTS":{"code":"WTS","name":"West
        Seattle Branch","ips":["66.212.64.91","66.212.64.59","66.212.70.129-191"]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en-US
      etag:
      - W/"e48-/2AWY59MlRY9+qtxL71fGiMXXUQ"
      surrogate-control:
      - no-store
      x-version:
      - nerf16 Version 9.35.1@c9901a3 Last updated 2026/04/28 15:21 Built 2026/04/28
        15:18
    status:
      code: 200
      message: OK
version: 1
